*.cmd
*.bat
*.log
*.lp

man/*
!man/Applied_Energy/
man/Applied_Energy/*
!man/Applied_Energy/3_revised_submission_1/
man/Applied_Energy/3_revised_submission_1/*
!man/Applied_Energy/3_revised_submission_1/derivation/
man/Applied_Energy/3_revised_submission_1/derivation/*
!man/Applied_Energy/3_revised_submission_1/derivation/mppdc_derivation.pdf

src/2_parameter_selector/output/*
!src/2_parameter_selector/output/README.md

src/3_process_results/output/*
!src/3_process_results/output/README.md

src/4_plotting/output/48_scenarios/*
!src/4_plotting/output/figures/48_scenarios/README.md
src/4_plotting/output/100_scenarios/*
!src/4_plotting/output/figures/100_scenarios/README.md
